<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<title>멤버목록</title>
</head>
<body>
	<table>
		<tr th:each="member: ${members}">
			<td th:text="${member.lastName}">Chung</td>
			<td th:text="${member.firstName}">Insang</td>
			<td th:text="${member.email}">insang@hansung.ac.kr</td>		
			<td>
				<form method="get" action="/edit">
					<input type="submit" value="편집" />
					<input type="hidden" name="id" th:value="${member.id}" />
				</form>
			</td>
			<td>
				<form method="post" action="/delete">
					<input type="submit" value="삭제" />
					<input type="hidden" name="id" th:value="${member.id}" />
				</form>
			</td>	
		</tr>
	</table>
</body>
</html>